<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
  <script src="submit.js"></script>
</head>

<body ng-app="submitApp">
  <h1>Submit Form</h1>
  <span ng-controller="submitController">
      <textarea ng-model="algorithmModel" placeholder="Algorithm" type="text"></textarea>
      <textarea ng-model="dataModel" placeholder="Data" type="text"></textarea>
      <div>
        <button ng-click="submit()">Submit Data</button>
      </div>
  </span>
</body>
</html>